html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {max-height: 10000px;}
::-moz-selection {
    color:#6cbbff;
    text-shadow: none;
}
::selection {
    color:#6cbbff;
    text-shadow: none;
}

body{
    margin:0;
    font:16px/28px 'Raleway', sans-serif;
    min-width:998px;
    color:#7d7d7d;
    background:#fff;
    letter-spacing:0.03em;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:none;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}
img{
    border-style:none;
    vertical-align:top;
}
a{
    color:#5b66b6;
    text-decoration:none;
}
a:hover{text-decoration:underline;}
a:active{background-color:transparent;}

#wrapper{
    background:#fff;
    overflow:hidden;
    position:relative;
}
.container{
    max-width:1170px;
    margin:0 auto;
    padding:0 20px;
}
.container:after,
.gamification-section .row:after{
    content:"";
    display:block;
    clear:both;
    height:0;
    overflow:hidden;
}
@keyframes column {
    from {transform:translateY(450px);opacity:1;}
    to {transform:translateY(0);opacity:1;}
}
@-moz-keyframes column {
    from {-moz-transform:translateY(450px);opacity:1;}
    to {-moz-transform:translateY(0);opacity:1;}
}
@-webkit-keyframes column {
    from {-webkit-transform:translateY(450px);opacity:1;}
    to {-webkit-transform:translateY(0);opacity:1;}
}
.gamification-section{
    padding:100px 0;
    position:relative;
    overflow:hidden;
    background:#f4f4f4;
}
.gamification h2 {
    font:34px/50px 'Source Sans Pro', sans-serif;
    font-weight: 700;
    margin:0 0 30px;
    color:#202020;
    text-align:center;
}
.gamification-section:before{
    content:"";
    position:absolute;
    top:260px;
    bottom:0;
    width:2px;
    background:#6c69f8;
    left:50%;
    margin-left:-1px;
    animation-duration: 3.5s;
    animation-name: line;
    -moz-animation-duration: 3.5s;
    -moz-animation-name: line;
    -webkit-animation-duration: 3.5s;
    -webkit-animation-name: line;
}
.gamification-section .row{
    position:relative;
}
.gamification-section .row:first-child{margin:0;}
.gamification-section .col-l{
    float:left;
    width:40%;	
    padding:100px 0 0 0;
}
.gamification-section .col-l img{margin:0px 0 100px 0;}
.gamification-section .col-r{
    float:right;
    width:40%;
    padding:100px 0 0 0;
}
.gamification-section .col-r img{margin:0px 0 100px 6px;}
.gamification-section h2.game  {
    font:28px/40px 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color:#121212;
    padding-bottom:30px;
}

.gamification-section h3.game {
font-size: 17px;
font-weight: 600;
font-family: 'Source Sans Pro', sans-serif;
}

ul.description {
    font-size: 15px;
}

.ico{
    display:inline-block;
    vertical-align:top;
    width:76px;
    height:76px;
    padding:4px;
    border-radius:50px;
    -webkit-border-radius:50px;
}
.gamification-section .ico{
    position:absolute;
    top:100px;
    left:50%;
    margin:0 0 0 -42px;
    animation-name: ico;
    animation-duration: 1s;
    -moz-animation-name: ico;
    -moz-animation-duration: 1s;
    -webkit-animation-name: ico;
    -webkit-animation-duration: 1s;
}
.gamification-section .ico1{
    animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}
.gamification-section .ico2{
    animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}
.gamification-section .ico3{
    animation-delay: 2s;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

ul.description {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

ul.description li {
    display: list-item;
    text-align: -webkit-match-parent;
}

@keyframes ico{
    0%{opacity:1;}
    50%{opacity:1;transform: scale(1.2);}
    100%{opacity:1;transform: scale(1);}
}
@-moz-keyframes ico{
    0%{opacity:1;}
    50%{opacity:1;-moz-transform: scale(1.2);}
    100%{opacity:1;-moz-transform: scale(1);}
}
@-webkit-keyframes ico{
    0%{opacity:1;}
    50%{opacity:1;-webkit-transform: scale(1.2);}
    100%{opacity:1;-webkit-transform: scale(1);}
}
.ico > span{
    display:block;
    background: rgb(82,87,223);
    overflow:hidden;
    position:relative;
    border-radius:50px;
    -webkit-border-radius:50px;
    width:76px;
    height:76px;
}
.ico em{
    display:table;
    width:100%;
    height:100%;
}
.ico i{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.ico img{margin:0;}

.intro-section .container.go-anim,
.gamification-section .col-l.go-anim,
.gamification-section .col-r.go-anim,
.gamification-section .ico.go-anim,
.gamification-section:before{
    animation:box-appear 300ms 1 normal ease-out forwards;
    -moz-animation:box-appear 300ms 1 normal ease-out forwards;
    -webkit-animation:box-appear 300ms 1 normal ease-out forwards;
}
.intro-section .container.go-anim{
    animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    -webkit-animation-duration: 0.8s;
}
@keyframes box-appear{
    0%{opacity:0;transform:scale3d(0, 0, 0);}
    70%{transform:scale3d(1.2, 1.2, 1.2);}
    100%{opacity:1;transform:scale3d(1, 1, 1);}
}
@-moz-keyframes box-appear{
    0%{opacity:0;-moz-transform:scale3d(0, 0, 0);}
    70%{-moz-transform:scale3d(1.2, 1.2, 1.2);}
    100%{opacity:1;-moz-transform:scale3d(1, 1, 1);}
}
@-webkit-keyframes box-appear{
    0%{opacity:0;-webkit-transform:scale3d(0, 0, 0);}
    70%{-webkit-transform:scale3d(1.2, 1.2, 1.2);}
    100%{opacity:1;-webkit-transform:scale3d(1, 1, 1);}
}
@keyframes line{
    0%{height:0;}
    100%{height:100%;}
}
@-moz-keyframes line{
    0%{height:0;}
    100%{height:100%;}
}
@-webkit-keyframes line{
    0%{height:0;}
    100%{height:100%;}
}
.pre-animation,
.gamification-section .ico,
.map .point,
.aircraft,
.four-columns .inner,
.intro-section .container{opacity:0;}

@media (max-width: 1400px){
    body{
	font:16px/28px 'Raleway', sans-serif;
	letter-spacing:0.03em;
    }
    .gamification-section{
	padding:50px 0;
    }
    .gamification h2 {
	font:28px/38px 'Source Sans Pro', sans-serif;
    }
    .gamification-section .col-l{
	width:36%;
	padding:50px 0 0 10px;
    }
    .gamification-section .col-r{
	width:36%;
	padding:80px 0 0 10px;
    }
    .columns .inner{
	padding:45px 60px 30px 0;
    }
    .columns h2{
	font:24px/34px 'Source Sans Pro', sans-serif;
	color:#a9baff;
	margin:0 0 15px;
    }
@media (max-width: 568px){

    body{
	font:16px/28px 'Raleway', sans-serif;
    }
    .gamification-section{padding:50px 0 0px;}
    .gamification h2 {
	font:24px/36px 'Noto Serif', serif;
    }
    .gamification-section .col-r, .gamification-section .col-l{
	width:auto;
	float:none;
	padding:0 0 20px;
    }
    .gamification-section .col-r img, .gamification-section .col-l img{display:block;margin: 0 auto;padding-bottom:50px;}
    .gamification-section .col-r{padding:0;}
    .gamification-section:before{display:none;}
    .gamification-section .ico{top:0;}
    .gamification-section .row{
	margin:0;
	padding:109px 0 23px;
    }
    .gamification-section h2.game  {
	font:22px/32px 'Source Sans Pro', sans-serif;
    font-weight: 700;
	padding-bottom:10px;
	text-align:center;
    }
    .gamification-section p{margin-bottom:60px;text-align:center;}
    .columns{padding:20px 0 0;}
    .columns{margin:0;}
    .columns .column{
	display:block;
	width:auto;
	text-align:center;
	margin-bottom:30px;
    }
    .columns .inner{padding:0 0 40px;}
}
